templates/saga_kafka_jolt_2h.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6ed9c4b0-017d-1000-1dff-bb77495c1426</groupId>
    <name>saga_kafka_jolt_2h</name>
    <snippet>
        <processGroups>
            <id>3a8402e1-7120-30e8-0000-000000000000</id>
            <parentGroupId>2b464562-43be-3370-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>07b19ba9-a563-3245-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
                        <id>9ec98466-fafb-3bde-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
                        <id>596da81b-f46c-3174-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>168fc9a3-544a-32a6-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
                        <id>42398902-c998-309e-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
                        <id>5050fe17-df6a-35e9-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6b7cc96e-927d-3591-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>78c2bcf1-c826-33ac-0000-000000000000</groupId>
                        <id>785efa36-85d3-326f-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
                        <id>bde9657d-f5e0-3dfe-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9c22471e-1477-3fbc-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
                        <id>d4ee3e9d-ef79-3979-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
                        <id>ac260fa7-b5e5-3b65-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c2d0092d-d0f2-312e-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3a8402e1-7120-30e8-0000-000000000000</groupId>
                        <id>02303dd1-365a-32d0-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
                        <id>708984bc-b3ef-37f0-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>02303dd1-365a-32d0-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>3192.0</x>
                        <y>448.0</y>
                    </position>
                </funnels>
                <processGroups>
                    <id>0e6a372e-2911-37c1-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>1872.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0eff8fbb-d1d9-358a-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>08c77ec4-572e-3950-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>d4ee3e9d-ef79-3979-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>20e8607b-d3b3-3bc8-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>6e798b3c-ba00-36cf-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>3f74928c-9891-3e19-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>24f71671-2079-3add-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>596da81b-f46c-3174-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>1fb896bc-39ee-3f72-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8dc9e05b-49fc-3216-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>1fb896bc-39ee-3f72-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>3f74928c-9891-3e19-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c8a70025-2126-34f5-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>d4c95934-3ee6-3d73-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>1fb896bc-39ee-3f72-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fd7a03d3-f65e-3840-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>3f74928c-9891-3e19-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0e6a372e-2911-37c1-0000-000000000000</groupId>
<id>14d0969c-b746-3607-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>08c77ec4-572e-3950-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1952.0</x>
<y>136.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>6e798b3c-ba00-36cf-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1968.0</x>
<y>552.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>d4c95934-3ee6-3d73-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1976.0</x>
<y>864.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>d4ee3e9d-ef79-3979-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1400.0</x>
<y>136.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PAGAMENTO AUTORIZADO</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>df5dced8-2570-3c44-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>384.0</y>
                            </position>
                            <height>400.0</height>
                            <label>Processamento do Estoque
- Atualizar quantidade</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>14px</value>
</entry>
                            </style>
                            <width>1040.0</width>
                        </labels>
                        <outputPorts>
                            <id>596da81b-f46c-3174-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1416.0</x>
<y>1040.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>ESTOQUE ATUALIZADO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>14d0969c-b746-3607-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1344.0</x>
<y>208.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pagamento_sucesso}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>${groupid_kafka_NIFI_MICROSERVICE_ESTOQUE}</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>1fb896bc-39ee-3f72-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1360.0</x>
<y>808.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_estoque_atualizado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>3f74928c-9891-3e19-0000-000000000000</id>
                            <parentGroupId>0e6a372e-2911-37c1-0000-000000000000</parentGroupId>
                            <position>
<x>1352.0</x>
<y>528.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
    "operation": "default",
    "spec": {
      "estoque": {
        "quantity": 4,
        "status": "in_stock",
        "update_status": "Estoque atualizado"
      }
    }
},
  {
    "operation": "remove",
    "spec": {
      "payment": ""
    }
}]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Atualizar Estoque (JoltTransformJSON)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Atualizar Estoque do Produto</name>
                    <variables>
                        <entry>
                            <key>endpoint_estoque</key>
                            <value>http://mockbin.org/bin/a5539d8e-b345-40e9-9c46-f4125e8266f2</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>14e1abfe-710a-3f04-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>1872.0</x>
                        <y>680.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Desfazer Atualização Estoque</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>62489eb7-7e8e-3a0e-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>2512.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2fedd1cb-5f67-383d-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>1db0d1ba-3b3e-3f78-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>5e8614f1-d49d-36d9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3104199e-638d-3c77-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>bde9657d-f5e0-3dfe-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>98bea1e9-34cc-3f52-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>441a4ca7-3ad9-37fb-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>f1eda4a3-720c-3f96-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>1db0d1ba-3b3e-3f78-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4fec32e0-54b4-3a84-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>d3b5dbe9-881d-34d2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>d64ef62f-2408-3136-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7597ec87-e9ad-333d-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>830cc7eb-bf95-3584-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>d3b5dbe9-881d-34d2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8e3330a8-b38b-3549-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>708984bc-b3ef-37f0-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>d3b5dbe9-881d-34d2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>941e6fc6-6029-3e2a-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>d64ef62f-2408-3136-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>1db0d1ba-3b3e-3f78-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a7c8a3ab-bed7-3447-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>98bea1e9-34cc-3f52-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>d64ef62f-2408-3136-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>aabcc72f-239d-3339-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>eb2adef0-98f8-3949-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>62489eb7-7e8e-3a0e-0000-000000000000</groupId>
<id>9ec98466-fafb-3bde-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>830cc7eb-bf95-3584-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>2448.0</x>
<y>1144.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>eb2adef0-98f8-3949-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>2456.0</x>
<y>320.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>f1eda4a3-720c-3f96-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>2512.0</x>
<y>696.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>9ec98466-fafb-3bde-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1904.0</x>
<y>320.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>ESTOQUE ATUALIZADO</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>27c3d31c-dbd2-3ef8-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1648.0</x>
<y>528.0</y>
                            </position>
                            <height>352.0</height>
                            <label>Envio do Pedido</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>14px</value>
</entry>
                            </style>
                            <width>944.0</width>
                        </labels>
                        <outputPorts>
                            <id>708984bc-b3ef-37f0-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1896.0</x>
<y>1328.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PEDIDO FINALIZADO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>bde9657d-f5e0-3dfe-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>2520.0</x>
<y>1328.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>CANCELAR PEDIDO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>1db0d1ba-3b3e-3f78-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1840.0</x>
<y>648.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
  "operation": "default",
  "spec": {
      "shipping":{
            "shipping_code":99,
            "track_number":12345,
            "transporter_name":" Correios",
            "recipient_name":"Tony Stark",
            "recipient_phone":"24586787867",
            "address":"Stark Tower Park Av"
      }
  }
}]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Enviar pedido (JoltTransformJSON)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>5e8614f1-d49d-36d9-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1848.0</x>
<y>384.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_estoque_atualizado}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>${groupid_kafka_NIFI_MICROSERVICE_DELIVERY},</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>98bea1e9-34cc-3f52-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>2464.0</x>
<y>936.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_cancel_pedido_enviado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FALHA (PublishKafka_1_0)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>d3b5dbe9-881d-34d2-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1832.0</x>
<y>1112.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_enviado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>d64ef62f-2408-3136-0000-000000000000</id>
                            <parentGroupId>62489eb7-7e8e-3a0e-0000-000000000000</parentGroupId>
                            <position>
<x>1832.0</x>
<y>912.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${logisticamongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${logisticadb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${logisticacollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Enviar pedido</name>
                    <variables>
                        <entry>
                            <key>endpoint_logistica</key>
                            <value>http://mockbin.org/bin/cfef3ff6-6e78-40cf-8fb6-3fa59c4dcae2/</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>78c2bcf1-c826-33ac-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>2512.0</x>
                        <y>696.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>8fe052f7-61cd-3ef6-0000-000000000000</id>
                            <parentGroupId>78c2bcf1-c826-33ac-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>78c2bcf1-c826-33ac-0000-000000000000</groupId>
<id>7e73307a-4a45-3644-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>78c2bcf1-c826-33ac-0000-000000000000</groupId>
<id>785efa36-85d3-326f-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>7e73307a-4a45-3644-0000-000000000000</id>
                            <parentGroupId>78c2bcf1-c826-33ac-0000-000000000000</parentGroupId>
                            <position>
<x>1037.0000190734863</x>
<y>83.99999237060518</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>785efa36-85d3-326f-0000-000000000000</id>
                            <parentGroupId>78c2bcf1-c826-33ac-0000-000000000000</parentGroupId>
                            <position>
<x>514.0000343322754</x>
<y>82.00000190734849</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>CANCELAR PEDIDO</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>18d66181-1959-34ce-0000-000000000000</id>
                            <parentGroupId>78c2bcf1-c826-33ac-0000-000000000000</parentGroupId>
                            <position>
<x>445.0000190734863</x>
<y>387.99999237060524</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>json-type</key>
        <value>
            <name>json-type</name>
        </value>
    </entry>
    <entry>
        <key>use-pretty-printing</key>
        <value>
            <name>use-pretty-printing</name>
        </value>
    </entry>
    <entry>
        <key>mongo-charset</key>
        <value>
            <name>mongo-charset</name>
        </value>
    </entry>
    <entry>
        <key>Query</key>
        <value>
            <name>Query</name>
        </value>
    </entry>
    <entry>
        <key>mongo-query-attribute</key>
        <value>
            <name>mongo-query-attribute</name>
        </value>
    </entry>
    <entry>
        <key>Projection</key>
        <value>
            <name>Projection</name>
        </value>
    </entry>
    <entry>
        <key>Sort</key>
        <value>
            <name>Sort</name>
        </value>
    </entry>
    <entry>
        <key>Limit</key>
        <value>
            <name>Limit</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>results-per-flowfile</key>
        <value>
            <name>results-per-flowfile</name>
        </value>
    </entry>
    <entry>
        <key>mongo-date-format</key>
        <value>
            <name>mongo-date-format</name>
        </value>
    </entry>
    <entry>
        <key>get-mongo-send-empty</key>
        <value>
            <name>get-mongo-send-empty</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>json-type</key>
        <value>Extended</value>
    </entry>
    <entry>
        <key>use-pretty-printing</key>
        <value>true</value>
    </entry>
    <entry>
        <key>mongo-charset</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Query</key>
    </entry>
    <entry>
        <key>mongo-query-attribute</key>
    </entry>
    <entry>
        <key>Projection</key>
    </entry>
    <entry>
        <key>Sort</key>
    </entry>
    <entry>
        <key>Limit</key>
    </entry>
    <entry>
        <key>Batch Size</key>
    </entry>
    <entry>
        <key>results-per-flowfile</key>
    </entry>
    <entry>
        <key>mongo-date-format</key>
        <value>yyyy-MM-dd'T'HH:mm:ss'Z'</value>
    </entry>
    <entry>
        <key>get-mongo-send-empty</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.GetMongo</type>
                        </processors>
                        <processors>
                            <id>7639b8bf-973d-3395-0000-000000000000</id>
                            <parentGroupId>78c2bcf1-c826-33ac-0000-000000000000</parentGroupId>
                            <position>
<x>445.0000190734863</x>
<y>571.9999923706052</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>update</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>_id</value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>{ $set: { status: "CANCEL" } }</value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>ad7ee1e4-24b7-39ba-0000-000000000000</id>
                            <parentGroupId>78c2bcf1-c826-33ac-0000-000000000000</parentGroupId>
                            <position>
<x>445.0000190734863</x>
<y>195.99999237060518</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>localhost:9092</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Cancelar Envio Pedido</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>aa703d0f-e54a-3f91-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>400.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>01d8d1c6-44da-3281-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1dd7ec39-f32d-3a61-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>15254211-74ee-3c4e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2d1d5efb-3671-3374-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1dd7ec39-f32d-3a61-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>c5829228-8a29-3fb2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>55e1b3f2-a8c6-302b-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1dd7ec39-f32d-3a61-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>41cfc784-daf7-3d74-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7c69d4c8-2c1f-37a4-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>5050fe17-df6a-35e9-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>13cf8341-7be6-3cfc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>858efdd3-3d88-39a8-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>a8af67ca-4515-3913-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>13cf8341-7be6-3cfc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b159b260-42d6-32e3-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>361ebda9-5d85-34bb-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1dd7ec39-f32d-3a61-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b561bf6b-679e-3254-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>13cf8341-7be6-3cfc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1fe5dd4c-bcf7-3844-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f2976d26-0337-3d3f-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1fe5dd4c-bcf7-3844-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1dd7ec39-f32d-3a61-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ffacffd3-8cab-344f-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>7fc68dbc-a38a-30fa-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>aa703d0f-e54a-3f91-0000-000000000000</groupId>
<id>1fe5dd4c-bcf7-3844-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>361ebda9-5d85-34bb-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>336.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>7fc68dbc-a38a-30fa-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>568.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>a8af67ca-4515-3913-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>792.0</y>
                            </position>
                        </funnels>
                        <labels>
                            <id>8a59f0e3-2659-3159-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>40.0</x>
<y>280.0</y>
                            </position>
                            <height>168.0</height>
                            <label>Processamento de Pedidos
- Gerar ID</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>14px</value>
</entry>
                            </style>
                            <width>1128.0</width>
                        </labels>
                        <outputPorts>
                            <id>5050fe17-df6a-35e9-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>976.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PEDIDO CRIADO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>13cf8341-7be6-3cfc-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>760.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_criado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>15254211-74ee-3c4e-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>392.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_novo}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>${groupid_kafka_NIFI_MICROSERVICE_PEDIDO}</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>1dd7ec39-f32d-3a61-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>360.0</x>
<y>304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
  "operation": "default",
  "spec": {
      "order_id": "${uuid}"
  }
}]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Processar Pedido (JoltTransformJSON)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>1fe5dd4c-bcf7-3844-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>536.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${pedidomongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${pedidodb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${pedidocollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>41cfc784-daf7-3d74-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>896.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Base Path</key>
        <value>
            <name>Base Path</name>
        </value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>
            <name>Listening Port</name>
        </value>
    </entry>
    <entry>
        <key>health-check-port</key>
        <value>
            <name>health-check-port</name>
        </value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
        <value>
            <name>Max Data to Receive per Second</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>client-authentication</key>
        <value>
            <dependencies>
                <propertyName>SSL Context Service</propertyName>
            </dependencies>
            <name>client-authentication</name>
        </value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>
            <name>Authorized DN Pattern</name>
        </value>
    </entry>
    <entry>
        <key>authorized-issuer-dn-pattern</key>
        <value>
            <name>authorized-issuer-dn-pattern</name>
        </value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>
            <name>Max Unconfirmed Flowfile Time</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
        <value>
            <name>HTTP Headers to receive as Attributes (Regex)</name>
        </value>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>
            <name>Return Code</name>
        </value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>
            <name>multipart-request-max-size</name>
        </value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>
            <name>multipart-read-buffer-size</name>
        </value>
    </entry>
    <entry>
        <key>max-thread-pool-size</key>
        <value>
            <name>max-thread-pool-size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <dependencies>
                <propertyName>record-reader</propertyName>
            </dependencies>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Base Path</key>
        <value>contentListener</value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>8010</value>
    </entry>
    <entry>
        <key>health-check-port</key>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>client-authentication</key>
        <value>AUTO</value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>authorized-issuer-dn-pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>200</value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>512 KB</value>
    </entry>
    <entry>
        <key>max-thread-pool-size</key>
        <value>200</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Receber pedido (ListenHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                        </processors>
                        <processors>
                            <id>c5829228-8a29-3fb2-0000-000000000000</id>
                            <parentGroupId>aa703d0f-e54a-3f91-0000-000000000000</parentGroupId>
                            <position>
<x>-96.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
   "ordered_by":{
      "user":"user_id"
   },
   "order_data":{
      "order_amount":100,
      "items":[
         {
            "prodItemId":"product_id",
            "quantity":"1"
         },
         {
            "prodItemId":"product_id",
            "quantity":"1"
         }
      ],
      "payment":[
         {
            "payment_method":"credit_card",
            "card":{
               "first_six_digits":"400000",
               "last_four_digits":"0010",
               "brand":"Visa",
               "holder_name":"Tony Stark",
               "exp_month":1,
               "exp_year":2020
            }
         }
      ]
   }
}
</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Receber pedido</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>b4876cbd-40a9-34b4-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>1152.0</x>
                        <y>672.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Estornar Pagamento</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>cfa24639-9515-3bcc-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>1152.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>018fc00f-908b-3b02-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>e987b5b0-576f-369e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>bb9c911f-96f1-330a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>182bd43a-31aa-3a73-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>57ef745e-513a-3943-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>42398902-c998-309e-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>27f03ec3-9e85-3450-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>ac260fa7-b5e5-3b65-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>204d4b0d-bdec-3f1e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2daf715d-2ec3-3fcd-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>af5591de-fab6-3f70-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>204d4b0d-bdec-3f1e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5a5aff59-bcfc-3600-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>204d4b0d-bdec-3f1e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>89a3e6f1-2949-38fd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>686d2386-f0a8-3cc6-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>89a3e6f1-2949-38fd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>e987b5b0-576f-369e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7340076c-e218-3dfb-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>5a4734f7-0eef-303e-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>89a3e6f1-2949-38fd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c6c0f8e3-eb7e-3ffb-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>fdd148a3-0a2e-3df3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>cfa24639-9515-3bcc-0000-000000000000</groupId>
<id>e987b5b0-576f-369e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>57ef745e-513a-3943-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>1504.0</x>
<y>200.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>5a4734f7-0eef-303e-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>1544.0</x>
<y>864.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>af5591de-fab6-3f70-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>1552.0</x>
<y>1064.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>fdd148a3-0a2e-3df3-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>1520.0</x>
<y>584.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>42398902-c998-309e-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>904.0</x>
<y>200.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PEDIDO CRIADO</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>152af2ea-0058-35c9-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>616.0</x>
<y>432.0</y>
                            </position>
                            <height>368.0</height>
                            <label>Processamento do Pagamento
- Recuperar Order_ID</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>14px</value>
</entry>
                            </style>
                            <width>984.0</width>
                        </labels>
                        <outputPorts>
                            <id>ac260fa7-b5e5-3b65-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>928.0</x>
<y>1248.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PAGAMENTO AUTORIZADO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>204d4b0d-bdec-3f1e-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>1032.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pagamento_sucesso}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>89a3e6f1-2949-38fd-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>840.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${pagamentomongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${pagamentodb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${pagamentocollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>bb9c911f-96f1-330a-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>288.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_criado}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>NIFI</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>e987b5b0-576f-369e-0000-000000000000</id>
                            <parentGroupId>cfa24639-9515-3bcc-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>544.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
  "operation": "default",
  "spec": {
      "payment": {
            "payment_id":"${UUID()}",
            "type":"credit_card",
            "approver":"Visa",
            "paid_amount":100,
            "status":"paid",
            "processed_at":"${now()}"
      }
  }
},
{
  "operation": "remove",
  "spec": {
        "ordered_by": "",
        "order_data": ""
   }
}
]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Processar Pagamento (JoltTransformJSON)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Autorizar pagamento</name>
                    <variables>
                        <entry>
                            <key>endpoint_pagamento</key>
                            <value>http://mockbin.org/bin/4d9ec76e-4748-4786-a6d2-a103f6432e79</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>d9f275e9-771c-3e89-0000-000000000000</id>
                    <parentGroupId>3a8402e1-7120-30e8-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>672.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Cancelar Pedido</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>SAGA transaction</name>
            <variables>
                <entry>
                    <key>kafka_topic_pagamento_sucesso</key>
                    <value>PAGAMENTO_SUCESSO</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_DELIVERY</key>
                    <value>NIFI_MICROSERVICE_DELIVERY</value>
                </entry>
                <entry>
                    <key>kafkabroker</key>
                    <value>kafka:9092</value>
                </entry>
                <entry>
                    <key>pagamentocollection</key>
                    <value>payment</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_PAGAMENTO</key>
                    <value>NIFI_MICROSERVICE_PAGAMENTO</value>
                </entry>
                <entry>
                    <key>pagamentodb</key>
                    <value>pagamento</value>
                </entry>
                <entry>
                    <key>pedidocollection</key>
                    <value>order</value>
                </entry>
                <entry>
                    <key>kafka_topic_pedido_criado</key>
                    <value>PEDIDO_CRIADO</value>
                </entry>
                <entry>
                    <key>pedidomongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>jolt_expr_pedido</key>
                    <value>[{
  "operation": "default",
  "spec": {
      "order_id": "${UUID()}"
  }
}]</value>
                </entry>
                <entry>
                    <key>kafka_topic_pedido_novo</key>
                    <value>NOVO_PEDIDO</value>
                </entry>
                <entry>
                    <key>logisticacollection</key>
                    <value>delivery</value>
                </entry>
                <entry>
                    <key>logisticadb</key>
                    <value>logistica</value>
                </entry>
                <entry>
                    <key>logisticamongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_ESTOQUE</key>
                    <value>NIFI_MICROSERVICE_ESTOQUE</value>
                </entry>
                <entry>
                    <key>pagamentomongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>pedidodb</key>
                    <value>pedido</value>
                </entry>
                <entry>
                    <key>kafka_topic_pedido_enviado</key>
                    <value>LOG_PEDIDO_ENVIADO</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_PEDIDO</key>
                    <value>NIFI_MICROSERVICE_PEDIDO</value>
                </entry>
                <entry>
                    <key>kafka_topic_estoque_atualizado</key>
                    <value>ESTOQUE_ATUALIZADO</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/30/2021 04:06:11 UTC</timestamp>
</template>
