templates/saga.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f64f461f-017c-1000-011f-e14ec54a308d</groupId>
    <name>saga</name>
    <snippet>
        <processGroups>
            <id>29a4779c-adb7-3103-0000-000000000000</id>
            <parentGroupId>a6fabea0-8dd0-333e-0000-000000000000</parentGroupId>
            <position>
                <x>456.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents/>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>SAGA transaction fail undo</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>d16dca6b-1917-382e-0000-000000000000</id>
            <parentGroupId>a6fabea0-8dd0-333e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>48f7d6aa-e0c2-3072-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
                        <id>39278ebd-f620-3f96-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
                        <id>7d6cbb6e-3bdb-31af-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c52d793d-55ca-31fe-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
                        <id>c18fe9a1-4acb-3d02-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
                        <id>4fbed61a-a1d4-3244-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f9e91dfd-2a4b-3a94-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
                        <id>3a24e877-49a7-387a-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
                        <id>e791e456-3d4e-3366-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>2e7b790e-7ae9-382b-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1464.0</x>
                        <y>664.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>76ac320c-0b18-30bb-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>f78ea70b-aea7-371a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>cdc94c79-6b4b-3abd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>885db788-f8bc-3dfe-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>f7ac8b4c-ea62-3cbf-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>cdc94c79-6b4b-3abd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>93d7dbf2-d6a4-3f58-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>e791e456-3d4e-3366-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>cdc94c79-6b4b-3abd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>be8af5ee-301f-341c-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>783fe057-0598-30b4-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>cdc94c79-6b4b-3abd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ccbdd2df-1a8c-3275-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>cdc94c79-6b4b-3abd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>2e7b790e-7ae9-382b-0000-000000000000</groupId>
<id>c18fe9a1-4acb-3d02-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>783fe057-0598-30b4-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <position>
<x>2000.0</x>
<y>568.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>f78ea70b-aea7-371a-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <position>
<x>2008.0</x>
<y>440.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>f7ac8b4c-ea62-3cbf-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <position>
<x>1272.0</x>
<y>720.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>c18fe9a1-4acb-3d02-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <position>
<x>1400.0</x>
<y>312.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Pagamento autorizado</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>e791e456-3d4e-3366-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <position>
<x>1616.0</x>
<y>720.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Estoque atualizado</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>cdc94c79-6b4b-3abd-0000-000000000000</id>
                            <parentGroupId>2e7b790e-7ae9-382b-0000-000000000000</parentGroupId>
                            <position>
<x>1344.0</x>
<y>440.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>PATCH</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${endpoint_estoque}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Atualizar estoque (InvokeHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Atualizar Estoque do Produto</name>
                    <variables>
                        <entry>
                            <key>endpoint_estoque</key>
                            <value>http://mockbin.org/bin/a5539d8e-b345-40e9-9c46-f4125e8266f2?foo=bar&amp;foo=baz</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>51f701e5-89a8-313e-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1232.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>35268f3c-382d-3e98-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>4fbed61a-a1d4-3244-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>5a5cafdf-70fd-3ae5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4557b827-bf57-32c0-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>ca20138e-037a-343a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>61be190b-4b96-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>466f94d5-e3d8-38b6-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>d49867a8-f484-3312-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>61be190b-4b96-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6a683f61-9b53-33c9-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>5a5cafdf-70fd-3ae5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>61be190b-4b96-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7a95dd40-6fb0-3385-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>d69dbfa2-97d7-39c9-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>5a5cafdf-70fd-3ae5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9e0bc5ba-6dae-3be5-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>61be190b-4b96-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>39278ebd-f620-3f96-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b96fcb14-39a9-3eb7-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>5b293b11-13a0-3a15-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>51f701e5-89a8-313e-0000-000000000000</groupId>
<id>5a5cafdf-70fd-3ae5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>5b293b11-13a0-3a15-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>840.0</x>
<y>912.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>ca20138e-037a-343a-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>1512.0</x>
<y>560.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>d49867a8-f484-3312-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>1512.0</x>
<y>480.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>d69dbfa2-97d7-39c9-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>1520.0</x>
<y>768.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>39278ebd-f620-3f96-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>928.0</x>
<y>368.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Pedido recebido</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>4fbed61a-a1d4-3244-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>1152.0</x>
<y>912.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Pagamento autorizado</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>5a5cafdf-70fd-3ae5-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>872.0</x>
<y>712.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${pagamentomongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${pagamentodb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${pagamentocollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>61be190b-4b96-31b3-0000-000000000000</id>
                            <parentGroupId>51f701e5-89a8-313e-0000-000000000000</parentGroupId>
                            <position>
<x>872.0</x>
<y>496.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${endpoint_pagamento}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Autorizar pagamento (InvokeHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Autorizar pagamento</name>
                    <variables>
                        <entry>
                            <key>endpoint_pagamento</key>
                            <value>http://mockbin.org/bin/4d9ec76e-4748-4786-a6d2-a103f6432e79</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>5ae1a14d-e666-3150-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>112.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3e077ea0-8571-367e-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>7d6cbb6e-3bdb-31af-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>c82521fb-e5fb-3742-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3ef0ecd7-d52d-3607-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>c82521fb-e5fb-3742-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>183f1a84-42d1-381d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6823ec5e-d7ba-3a38-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>75dc5fd7-881e-3b3a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>c82521fb-e5fb-3742-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b29f3f9d-38a2-32b5-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>e558ee46-8d06-3335-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>c82521fb-e5fb-3742-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b9f6f8d6-04bb-3583-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>183f1a84-42d1-381d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>f37f303a-a12a-3756-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4da5540-31a4-3a24-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>bbf01a39-cc8d-3f02-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>183f1a84-42d1-381d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e591cf51-1dac-3926-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>183f1a84-42d1-381d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5ae1a14d-e666-3150-0000-000000000000</groupId>
<id>f8788f5d-24ba-3f0c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>75dc5fd7-881e-3b3a-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>320.0</x>
<y>768.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>bbf01a39-cc8d-3f02-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>1088.0</x>
<y>296.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>e558ee46-8d06-3335-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>568.0</y>
                            </position>
                        </funnels>
                        <outputPorts>
                            <id>7d6cbb6e-3bdb-31af-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>696.0</x>
<y>768.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Pedido recebido</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>183f1a84-42d1-381d-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>264.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>order_data</key>
        <value>
            <name>order_data</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>order_data</key>
        <value>$</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>c82521fb-e5fb-3742-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>536.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${pedidomongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${pedidodb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${pedidocollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>f37f303a-a12a-3756-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Base Path</key>
        <value>
            <name>Base Path</name>
        </value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>
            <name>Listening Port</name>
        </value>
    </entry>
    <entry>
        <key>health-check-port</key>
        <value>
            <name>health-check-port</name>
        </value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
        <value>
            <name>Max Data to Receive per Second</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>client-authentication</key>
        <value>
            <dependencies>
                <propertyName>SSL Context Service</propertyName>
            </dependencies>
            <name>client-authentication</name>
        </value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>
            <name>Authorized DN Pattern</name>
        </value>
    </entry>
    <entry>
        <key>authorized-issuer-dn-pattern</key>
        <value>
            <name>authorized-issuer-dn-pattern</name>
        </value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>
            <name>Max Unconfirmed Flowfile Time</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
        <value>
            <name>HTTP Headers to receive as Attributes (Regex)</name>
        </value>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>
            <name>Return Code</name>
        </value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>
            <name>multipart-request-max-size</name>
        </value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>
            <name>multipart-read-buffer-size</name>
        </value>
    </entry>
    <entry>
        <key>max-thread-pool-size</key>
        <value>
            <name>max-thread-pool-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Base Path</key>
        <value>contentListener</value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>8010</value>
    </entry>
    <entry>
        <key>health-check-port</key>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>client-authentication</key>
        <value>AUTO</value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>authorized-issuer-dn-pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>200</value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>512 KB</value>
    </entry>
    <entry>
        <key>max-thread-pool-size</key>
        <value>200</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Receber pedido (ListenHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                        </processors>
                        <processors>
                            <id>f8788f5d-24ba-3f0c-0000-000000000000</id>
                            <parentGroupId>5ae1a14d-e666-3150-0000-000000000000</parentGroupId>
                            <position>
<x>112.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
   "ordered_by":{
      "user":"user_id"
   },
   "order_data":{
      "order_id":"1234512345",
      "order_amount":100,
      "items":[
         {
            "prodItemId":"product_id",
            "quantity":"1"
         },
         {
            "prodItemId":"product_id",
            "quantity":"1"
         }
      ],
      "payment":[
         {
            "payment_method":"credit_card",
            "card":{
               "first_six_digits":"400000",
               "last_four_digits":"0010",
               "brand":"Visa",
               "holder_name":"Tony Stark",
               "exp_month":1,
               "exp_year":2020
            }
         }
      ]
   }
}
</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Receber pedido</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>916ac39b-a9cb-30f2-0000-000000000000</id>
                    <parentGroupId>d16dca6b-1917-382e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1800.0</x>
                        <y>936.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>19e58978-cd2b-3154-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>3b984c89-ba1c-3511-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>d3895ae0-8e2e-3465-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>681e0204-bb9d-3e78-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>d3895ae0-8e2e-3465-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>b2a98506-fc66-35c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>753c473e-ef3f-3c6f-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>aca4730c-bac4-393b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>d3895ae0-8e2e-3465-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>af7d7b2e-10cd-3d0e-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>b2a98506-fc66-35c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>3a24e877-49a7-387a-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dcc6e72a-a5ab-38ef-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>5f659f58-e009-313c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>d3895ae0-8e2e-3465-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eaa35c00-34fb-3ae6-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>402a8335-5c53-31e0-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>b2a98506-fc66-35c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f25bd975-9e92-3b30-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>5bf1888e-2376-30ab-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>916ac39b-a9cb-30f2-0000-000000000000</groupId>
<id>b2a98506-fc66-35c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>3b984c89-ba1c-3511-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>2456.0</x>
<y>872.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>402a8335-5c53-31e0-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>2448.0</x>
<y>560.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>5bf1888e-2376-30ab-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>2448.0</x>
<y>680.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>5f659f58-e009-313c-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>1753.4800292968748</x>
<y>1063.4800292968748</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>3a24e877-49a7-387a-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>1896.0</x>
<y>464.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Estoque atualizado</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>aca4730c-bac4-393b-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>2096.0</x>
<y>1064.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Pedido enviado e finalizado</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'Pedido enviado e finalizado'' is invalid because Port has no outgoing connections</validationErrors>
                        </outputPorts>
                        <processors>
                            <id>b2a98506-fc66-35c1-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>1840.0</x>
<y>592.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${endpoint_logistica}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Enviar pedido (InvokeHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>d3895ae0-8e2e-3465-0000-000000000000</id>
                            <parentGroupId>916ac39b-a9cb-30f2-0000-000000000000</parentGroupId>
                            <position>
<x>1848.0</x>
<y>832.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${logisticamongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${logisticadb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${logisticacollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Enviar pedido</name>
                    <variables>
                        <entry>
                            <key>endpoint_logistica</key>
                            <value>http://mockbin.org/bin/cfef3ff6-6e78-40cf-8fb6-3fa59c4dcae2/</value>
                        </entry>
                    </variables>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>SAGA transaction success</name>
            <variables>
                <entry>
                    <key>pagamentocollection</key>
                    <value>payment</value>
                </entry>
                <entry>
                    <key>logisticacollection</key>
                    <value>delivery</value>
                </entry>
                <entry>
                    <key>logisticadb</key>
                    <value>logistica</value>
                </entry>
                <entry>
                    <key>logisticamongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>pagamentodb</key>
                    <value>pagamento</value>
                </entry>
                <entry>
                    <key>pedidocollection</key>
                    <value>order</value>
                </entry>
                <entry>
                    <key>pagamentomongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>pedidodb</key>
                    <value>pedido</value>
                </entry>
                <entry>
                    <key>pedidomongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/06/2021 17:59:09 UTC</timestamp>
</template>
