templates/bkp/saga_kafka_jolt_20211129_17h.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6bf6ba15-017d-1000-5799-2a3cee9deb94</groupId>
    <name>saga_kafka_jolt_20211129_17h</name>
    <snippet>
        <processGroups>
            <id>a2406f1f-4289-31fa-0000-000000000000</id>
            <parentGroupId>e81c9814-056a-30df-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>16183400-bab8-338c-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a2406f1f-4289-31fa-0000-000000000000</groupId>
                        <id>539d6f0b-76b4-3123-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>316c631f-90c5-391d-0000-000000000000</groupId>
                        <id>5e3b5a42-3fd6-33e4-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8306f8a5-29e4-3fe3-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
                        <id>f9d877cd-1411-3039-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
                        <id>afd78e28-34e7-3935-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>863b7b08-0154-320e-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>316c631f-90c5-391d-0000-000000000000</groupId>
                        <id>aeca0556-1ea0-3390-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>6f83083b-5057-322a-0000-000000000000</groupId>
                        <id>d4a7ecc6-5260-3dc3-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dadd0e44-0388-3f42-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f83083b-5057-322a-0000-000000000000</groupId>
                        <id>85afef71-c2c8-3927-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
                        <id>6b4b3a79-60aa-3440-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>539d6f0b-76b4-3123-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>3192.0</x>
                        <y>448.0</y>
                    </position>
                </funnels>
                <processGroups>
                    <id>2f034f6c-9b2b-3afd-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>2512.0</x>
                        <y>696.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Cancelar Envio Pedido</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>316c631f-90c5-391d-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>2512.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0c9565d7-c1d0-38c4-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>1c8d8037-4964-39b3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>395f8719-5fde-34eb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3d1bc0c2-856c-393b-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>5e3b5a42-3fd6-33e4-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>395f8719-5fde-34eb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9bf794a6-85bd-363b-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>395f8719-5fde-34eb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>535cf540-6375-389b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a3ebd342-7e2e-37c8-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>92f029c5-18e9-3770-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>535cf540-6375-389b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c23af227-18d0-30e3-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>495c20b8-a383-3adf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>057989eb-eaeb-3fb3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c45139b2-012f-3d7c-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>a92f7ac6-c1e8-3ced-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>495c20b8-a383-3adf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e319933c-0974-30e3-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>373d85ca-b6a5-3190-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>aeca0556-1ea0-3390-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e9373ae3-99b0-3a1f-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>be611880-49b1-3d91-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>495c20b8-a383-3adf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f2db9e1b-1cd1-3a49-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>535cf540-6375-389b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>316c631f-90c5-391d-0000-000000000000</groupId>
<id>495c20b8-a383-3adf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>1c8d8037-4964-39b3-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>2456.0</x>
<y>1096.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>373d85ca-b6a5-3190-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>2456.0</x>
<y>320.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>92f029c5-18e9-3770-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>2456.0</x>
<y>872.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>a92f7ac6-c1e8-3ced-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>2448.0</x>
<y>680.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>be611880-49b1-3d91-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>2448.0</x>
<y>560.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>aeca0556-1ea0-3390-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>1904.0</x>
<y>320.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>ESTOQUE ATUALIZADO</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>5e3b5a42-3fd6-33e4-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>1893.674599185873</x>
<y>1250.6605658510696</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PEDIDO FINALIZADO</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>057989eb-eaeb-3fb3-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>1848.0</x>
<y>384.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_estoque_atualizado}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>${groupid_kafka_NIFI_MICROSERVICE_DELIVERY},</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>395f8719-5fde-34eb-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>1848.0</x>
<y>1056.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_enviado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>495c20b8-a383-3adf-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>1840.0</x>
<y>592.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${endpoint_logistica}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Enviar pedido (InvokeHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>535cf540-6375-389b-0000-000000000000</id>
                            <parentGroupId>316c631f-90c5-391d-0000-000000000000</parentGroupId>
                            <position>
<x>1848.0</x>
<y>832.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${logisticamongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${logisticadb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${logisticacollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Enviar pedido</name>
                    <variables>
                        <entry>
                            <key>endpoint_logistica</key>
                            <value>http://mockbin.org/bin/cfef3ff6-6e78-40cf-8fb6-3fa59c4dcae2/</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>4b34a1c4-eb3e-352f-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1152.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>14b13ac5-27ce-38a8-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>4fec428b-742d-3105-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>7e191943-0b95-34dd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1c995094-751a-37aa-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>6b4b3a79-60aa-3440-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>7a63fad9-9aa0-3b25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>49ce5cc9-1876-343a-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>4fec428b-742d-3105-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>e3926edb-e34c-38e2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>769379c8-660b-343a-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>1fc73f8b-a4f2-3e2c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>f9d877cd-1411-3039-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7a054a36-48a1-379e-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>7a63fad9-9aa0-3b25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>97cf5be3-a981-3c1d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>85740162-e567-3710-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>4fec428b-742d-3105-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>a99dc129-6505-3e52-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8a14ecd6-932f-3b97-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>0866bc17-8600-30d3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>97cf5be3-a981-3c1d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8c1c0e87-890d-3ae7-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>97cf5be3-a981-3c1d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>e3926edb-e34c-38e2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b8790fce-abf4-317b-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>a99dc129-6505-3e52-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>7e191943-0b95-34dd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c7bbc75e-9e97-3335-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>e3926edb-e34c-38e2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>a99dc129-6505-3e52-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d0b44cd6-66c4-3662-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>0372b226-dedd-3b3c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>7a63fad9-9aa0-3b25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>faa3c4ef-1e0d-320c-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>7e191943-0b95-34dd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b34a1c4-eb3e-352f-0000-000000000000</groupId>
<id>b7efce74-622b-3605-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>0372b226-dedd-3b3c-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>1552.0</x>
<y>1064.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>0866bc17-8600-30d3-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>1544.0</x>
<y>864.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>1fc73f8b-a4f2-3e2c-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>1504.0</x>
<y>200.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>4fec428b-742d-3105-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>1488.0</x>
<y>448.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>f9d877cd-1411-3039-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>904.0</x>
<y>200.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PEDIDO CRIADO</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>a6cc7d17-c763-37a2-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>272.0</x>
<y>440.0</y>
                            </position>
                            <height>352.0</height>
                            <label>Processamento do Pagamento</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>1608.0</width>
                        </labels>
                        <outputPorts>
                            <id>6b4b3a79-60aa-3440-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>928.0</x>
<y>1248.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PAGAMENTO AUTORIZADO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>7a63fad9-9aa0-3b25-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>1032.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pagamento_sucesso}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>7e191943-0b95-34dd-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>576.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>order_id</key>
        <value>
            <name>order_id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>order_id</key>
        <value>$.order_data.order_id</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>97cf5be3-a981-3c1d-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>840.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${pagamentomongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${pagamentodb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${pagamentocollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>a99dc129-6505-3e52-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>896.0</x>
<y>608.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Attributes List</key>
        <value>
            <name>Attributes List</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
        <value>
            <name>attributes-to-json-regex</name>
        </value>
    </entry>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>
            <name>Include Core Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>
            <name>Null Value</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Attributes List</key>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
    </entry>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AttributesToJSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                        </processors>
                        <processors>
                            <id>b7efce74-622b-3605-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>848.0</x>
<y>288.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_criado}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>NIFI</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>e3926edb-e34c-38e2-0000-000000000000</id>
                            <parentGroupId>4b34a1c4-eb3e-352f-0000-000000000000</parentGroupId>
                            <position>
<x>1512.0</x>
<y>616.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
  "operation": "default",
  "spec": {
      "order_id": "${order_id}",
      "id":"${UUID()}",
      "type":"credit_card",
      "approver":"Visa",
      "paid_amount":100,
      "status":"paid", 
      "processed_at":"${now()}"
  }
}]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Autorizar pagamento</name>
                    <variables>
                        <entry>
                            <key>endpoint_pagamento</key>
                            <value>http://mockbin.org/bin/4d9ec76e-4748-4786-a6d2-a103f6432e79</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>68e193ca-218c-3b77-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>400.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3e636c30-7ad0-3f76-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>9aa46f6f-219e-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>e47a169b-c2d8-3d18-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8d514d59-5b0a-3177-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>9aa46f6f-219e-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>f319d813-608f-3d6d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8fa27825-ab26-3383-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>7ac14025-ebd7-304d-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>9aa46f6f-219e-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>96f7e41d-fac5-323c-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>afd78e28-34e7-3935-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>3b0d1d15-3ac8-3791-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a6d31a43-b9de-3b5b-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>7655d69e-a132-39d3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>9aa46f6f-219e-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ad5b8e70-5e14-32a5-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>3c36b8aa-9d0c-33c3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>7655d69e-a132-39d3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c0f85aef-5aa3-3b9a-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>9aa46f6f-219e-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>c59a9455-6e90-35b1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ea3fee91-348a-3faa-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>3b0d1d15-3ac8-3791-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>7655d69e-a132-39d3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eacd23f6-0cb8-39c2-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>45e31082-4059-31bd-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>68e193ca-218c-3b77-0000-000000000000</groupId>
<id>3b0d1d15-3ac8-3791-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>3c36b8aa-9d0c-33c3-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>568.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>45e31082-4059-31bd-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>792.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>7ac14025-ebd7-304d-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>336.0</y>
                            </position>
                        </funnels>
                        <outputPorts>
                            <id>afd78e28-34e7-3935-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>976.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PEDIDO CRIADO</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>3b0d1d15-3ac8-3791-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>760.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_criado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>7655d69e-a132-39d3-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>536.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>${pedidomongouri}</value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>${pedidodb}</value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>${pedidocollection}</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>insert</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutMongo</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>9aa46f6f-219e-3d6a-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>360.0</x>
<y>304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
  "operation": "default",
  "spec": {
      "order_id": "${uuid}"
  }
}]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Processar Pedido (JoltTransformJSON)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>c59a9455-6e90-35b1-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>-96.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
   "ordered_by":{
      "user":"user_id"
   },
   "order_data":{
      "order_id":"${uuid}",
      "order_amount":100,
      "items":[
         {
            "prodItemId":"product_id",
            "quantity":"1"
         },
         {
            "prodItemId":"product_id",
            "quantity":"1"
         }
      ],
      "payment":[
         {
            "payment_method":"credit_card",
            "card":{
               "first_six_digits":"400000",
               "last_four_digits":"0010",
               "brand":"Visa",
               "holder_name":"Tony Stark",
               "exp_month":1,
               "exp_year":2020
            }
         }
      ]
   }
}
</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>e47a169b-c2d8-3d18-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>896.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Base Path</key>
        <value>
            <name>Base Path</name>
        </value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>
            <name>Listening Port</name>
        </value>
    </entry>
    <entry>
        <key>health-check-port</key>
        <value>
            <name>health-check-port</name>
        </value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
        <value>
            <name>Max Data to Receive per Second</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>client-authentication</key>
        <value>
            <dependencies>
                <propertyName>SSL Context Service</propertyName>
            </dependencies>
            <name>client-authentication</name>
        </value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>
            <name>Authorized DN Pattern</name>
        </value>
    </entry>
    <entry>
        <key>authorized-issuer-dn-pattern</key>
        <value>
            <name>authorized-issuer-dn-pattern</name>
        </value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>
            <name>Max Unconfirmed Flowfile Time</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
        <value>
            <name>HTTP Headers to receive as Attributes (Regex)</name>
        </value>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>
            <name>Return Code</name>
        </value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>
            <name>multipart-request-max-size</name>
        </value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>
            <name>multipart-read-buffer-size</name>
        </value>
    </entry>
    <entry>
        <key>max-thread-pool-size</key>
        <value>
            <name>max-thread-pool-size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <dependencies>
                <propertyName>record-reader</propertyName>
            </dependencies>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Base Path</key>
        <value>contentListener</value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>8010</value>
    </entry>
    <entry>
        <key>health-check-port</key>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>client-authentication</key>
        <value>AUTO</value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>authorized-issuer-dn-pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>200</value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>512 KB</value>
    </entry>
    <entry>
        <key>max-thread-pool-size</key>
        <value>200</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Receber pedido (ListenHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                        </processors>
                        <processors>
                            <id>f319d813-608f-3d6d-0000-000000000000</id>
                            <parentGroupId>68e193ca-218c-3b77-0000-000000000000</parentGroupId>
                            <position>
<x>392.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pedido_novo}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>${groupid_kafka_NIFI_MICROSERVICE_PEDIDO}</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Receber pedido</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>6f83083b-5057-322a-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1872.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>45b7c303-7aab-3583-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>2c0e6097-54ce-3190-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>cde0f250-5b7e-3d82-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4ac6c8d0-e65f-381d-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>13e6f982-b993-353b-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>3894952f-ca0b-3f9a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9b7ffbff-b10a-3ab3-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>cde0f250-5b7e-3d82-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>23a7b359-1fe7-32fb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9deef959-b9d3-34f1-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>3894952f-ca0b-3f9a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>cde0f250-5b7e-3d82-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a9a74ebf-295e-39e9-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>d4a7ecc6-5260-3dc3-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>3894952f-ca0b-3f9a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d49fdd36-2b03-3802-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>dfaeb9a8-33b1-3bb0-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>cde0f250-5b7e-3d82-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ed6007c1-76dc-3de8-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>8e699f15-5870-3dbf-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>6f83083b-5057-322a-0000-000000000000</groupId>
<id>85afef71-c2c8-3927-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>13e6f982-b993-353b-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>2056.0</x>
<y>752.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>2c0e6097-54ce-3190-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>2008.0</x>
<y>440.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>8e699f15-5870-3dbf-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>1952.0</x>
<y>136.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>dfaeb9a8-33b1-3bb0-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>2000.0</x>
<y>568.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>85afef71-c2c8-3927-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>1400.0</x>
<y>136.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PAGAMENTO AUTORIZADO</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>d4a7ecc6-5260-3dc3-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>1400.0</x>
<y>928.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>ESTOQUE ATUALIZADO</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>759f3641-f4c8-3af8-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>920.4396274918729</x>
<y>478.92732288005544</y>
                            </position>
                            <comments></comments>
                            <contents/>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Atualizar estoque</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>23a7b359-1fe7-32fb-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>1344.0</x>
<y>208.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_pagamento_sucesso}</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>${groupid_kafka_NIFI_MICROSERVICE_ESTOQUE}</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafka_1_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                        </processors>
                        <processors>
                            <id>3894952f-ca0b-3f9a-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>1344.0</x>
<y>712.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabroker}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>GSSAPI</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>${kafka_topic_estoque_atualizado}</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishKafka_2_0</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
                        </processors>
                        <processors>
                            <id>cde0f250-5b7e-3d82-0000-000000000000</id>
                            <parentGroupId>6f83083b-5057-322a-0000-000000000000</parentGroupId>
                            <position>
<x>1352.0</x>
<y>432.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>PATCH</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${endpoint_estoque}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Atualizar estoque (InvokeHTTP)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Atualizar Estoque do Produto</name>
                    <variables>
                        <entry>
                            <key>endpoint_estoque</key>
                            <value>http://mockbin.org/bin/a5539d8e-b345-40e9-9c46-f4125e8266f2?foo=bar&amp;foo=baz</value>
                        </entry>
                    </variables>
                </processGroups>
                <processGroups>
                    <id>7d2ccc35-3fc8-36ce-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1152.0</x>
                        <y>672.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Estornar Pagamento</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>bc9e9ebb-6849-3500-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>672.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Cancelar Pedido</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>d4d663c1-3da8-3984-0000-000000000000</id>
                    <parentGroupId>a2406f1f-4289-31fa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1872.0</x>
                        <y>680.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Desfazer Atualizao Estoque</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>SAGA transaction</name>
            <variables>
                <entry>
                    <key>kafka_topic_pagamento_sucesso</key>
                    <value>PAGAMENTO_SUCESSO</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_DELIVERY</key>
                    <value>NIFI_MICROSERVICE_DELIVERY</value>
                </entry>
                <entry>
                    <key>kafkabroker</key>
                    <value>kafka:9092</value>
                </entry>
                <entry>
                    <key>pagamentocollection</key>
                    <value>payment</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_PAGAMENTO</key>
                    <value>NIFI_MICROSERVICE_PAGAMENTO</value>
                </entry>
                <entry>
                    <key>pagamentodb</key>
                    <value>pagamento</value>
                </entry>
                <entry>
                    <key>pedidocollection</key>
                    <value>order</value>
                </entry>
                <entry>
                    <key>kafka_topic_pedido_criado</key>
                    <value>PEDIDO_CRIADO</value>
                </entry>
                <entry>
                    <key>pedidomongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>jolt_expr_pedido</key>
                    <value>[{
  "operation": "default",
  "spec": {
      "order_id": "${UUID()}"
  }
}]</value>
                </entry>
                <entry>
                    <key>kafka_topic_pedido_novo</key>
                    <value>NOVO_PEDIDO</value>
                </entry>
                <entry>
                    <key>logisticacollection</key>
                    <value>delivery</value>
                </entry>
                <entry>
                    <key>logisticadb</key>
                    <value>logistica</value>
                </entry>
                <entry>
                    <key>logisticamongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_ESTOQUE</key>
                    <value>NIFI_MICROSERVICE_ESTOQUE</value>
                </entry>
                <entry>
                    <key>pagamentomongouri</key>
                    <value>mongodb://mongo:27017</value>
                </entry>
                <entry>
                    <key>pedidodb</key>
                    <value>pedido</value>
                </entry>
                <entry>
                    <key>kafka_topic_pedido_enviado</key>
                    <value>LOG_PEDIDO_ENVIADO</value>
                </entry>
                <entry>
                    <key>groupid_kafka_NIFI_MICROSERVICE_PEDIDO</key>
                    <value>NIFI_MICROSERVICE_PEDIDO</value>
                </entry>
                <entry>
                    <key>kafka_topic_estoque_atualizado</key>
                    <value>ESTOQUE_ATUALIZADO</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/29/2021 20:18:54 UTC</timestamp>
</template>
